{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-1">All Our Pets</h1>
    <table class="table table-striped ">
        <thead class="thead-dark">
          <th>Name</th>
          <th>Age</th>
          <th>Species</th>
          <th>Available</th>
          <th>Notes</th>
        </thead>
        <tbody>
          {% for pet in pets %}
          <tr>
            <td>{{pet.name}} <a class="btn btn-sm btn-info" href="/edit/{{pet.id}}">Edit</a></td>
            <td>{{pet.age}}</td>
            <td>{{pet.species}}</td>
            {% if pet.available%}
            <td class="text-success">Available!</td>
            {% else %}
            <td></td>
            {% endif %}
            <td class="text-info">{{pet.notes}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="/add" class="btn btn-success">Add A Pet</a>
</div>


{% endblock %}